<!doctype html>
<head>
	<meta charset='utf-8' http-equiv="refresh" content="600">
	<link rel = "stylesheet" href = "{{url_for('static', filename='style.css')}}">
	<title>portal</title>
	<header>
    	<style>
			span{
				font-size:20px;
				font-weight:bold;
			}
		</style>
		<script>
		function update() {
			let clock = document.getElementById('clock');
			let date = new Date(); // (*)
			let hours = date.getHours();
			if (hours < 10) hours = '0' + hours;
			clock.children[0].innerHTML = hours;

			let minutes = date.getMinutes();
			if (minutes < 10) minutes = '0' + minutes;
			clock.children[1].innerHTML = minutes;

			let seconds = date.getSeconds();
			if (seconds < 10) seconds = '0' + seconds;
			clock.children[2].innerHTML = seconds;
		}
		let timerId;

		function clockStart() { // запустить часы
			timerId = setInterval(update, 1000);
			update(); // (*)
		}
		
		</script>
</head>
<body onload="clockStart()">
	
	<div id="clock">
		<span class="hour">hh</span>:<span class="min">mm</span>:<span class="sec">ss</span>
	</div>
	<table rules="cols" cellpadding="4">
		<tr>{{res|safe}}<tr>
	</table>
</body>
</html>
